.btn-group {
    display: flex;
    align-items: center;
}

.btn-group button {

    height: 38px;
}
.btn-info {
    color: white;
    background-color: #3668ff;
}
.btn-info:hover {
    color: white;
    background-color: #2529ff;
}





